footer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-items: flex-start;

	/*border: 2px solid black;*/
	width: auto;
	margin-left: 155px;
	margin-top: 20px;
	background: url('images/sol.jpg') no-repeat;
}
footer h1
{
	font-size: 1.1em;
}
footer p 
{
	font-size: 0.6em;
}
footer .mes_contacts p a, footer .mes_realisation p a
{
	color: black;
	position: relative;
	bottom: 5px;
	left: 2px;
}
footer .mes_contacts p a:hover, footer .mes_realisation p a:hover
{
	color: rgb(0,120,240);
}
footer p span
{
	position: relative;
	bottom: 6px;
}

/*SPECIAL*/
.francais
{
	font-size: 1em;
	font-weight: bold;
}
.bleu
{
	color: rgb(0,89,179);
}
.blanc
{
	color: white;
}
.rouge
{
	color: red;
}



/*MEDIA QUERY*/
@media all and (max-device-width: 480px)
{
	footer
	{
		flex-direction: column;
		margin-left: 0px;
		background-image: none;
		background-color: gray;
		padding-left: 10px;
		margin: auto;
	}
	footer h1
	{
		font-size: 1.5em;
	}
	footer p 
	{
		font-size: 1.2em;
	}
	footer div
	{
		width: 500px;
	}
}
@media screen and (max-width: 1024px)
{
	footer
	{
		flex-direction: column;
		margin-left: 0px;
		background-image: none;
		background-color: gray;
		padding-left: 10px;
		margin: auto;
	}
	footer h1
	{
		font-size: 1.5em;
	}
	footer p 
	{
		font-size: 1.2em;
	}
	footer div
	{
		width: 500px;
	}
}