.lisere
{
	position: absolute;
	left: 2px;
	top: 10px;
	width: 150px;
	height: 98%;
	border-radius: 10px;
	background: url('images/voiture_lisere.jpg') no-repeat;
	background-size: cover; 
}
section
{
	/*border: 2px solid black;*/
	border-bottom: 1px solid rgb(200,200,200);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	width: auto;
	margin-left: 155px;
}
section div
{
	width: 350px;

	padding: 0px 10px 0px 10px;
	margin-top: 0px;

	text-align: justify;
}
section div ul
{
	list-style-type: circle;
}
section div li
{
	margin-bottom: 10px;
}
section div li strong
{
	color: rgb(0,92,185);
}

section h2
{
	font-family:  Goldman, "Bauhaus 93", cambria, calibri, serif;
	color: rgb(0,92,185);
	font-size: 1.5em;
}
.phrase_competences
{

	text-align: center;
}
#word, #excel, #powerpoint, #html5
{
	margin-right: 10px;
}
.formations
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.ufn, .openclassrooms
{
	width: 150px;
	height: 100px;
}
section .formations a, section .formations a:visited
{
	color: rgb(70,70,255);
}

/*SPECIAL LIEN UFN*/
section .formations .lien_ufn:visited
{
	color: rgb(128,128,255);
}
section .formations .lien_ufn:hover
{
	color: rgb(233,18,29);
}




/*MEDIA QUERI*/
@media all and (max-device-width: 480px)
{
    .lisere
	{
		display: none; 
	}
	section
	{
		flex-direction: column;
		margin-left: 0px;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	section div
	{
		margin-top: 0px;
		width: auto;
	}
	section h2
	{
		font-size: 1.2em;
	}
	.formations
	{
		width: auto;
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 1024px)
{
    .lisere
	{
		display: none; 
	}
	section
	{
		flex-direction: column;
		margin-left: 0px;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	section div
	{
		margin-top: 0px;
		width: auto;
	}
	section h2
	{
		font-size: 1.2em;
	}
	.formations
	{
		width: auto;
		flex-wrap: wrap;
	}
}